@import "tailwindcss";

@theme {
  --color-background: #0f172a;
  --color-foreground: #f8fafc;
}

@utility delay-100 {
  animation-delay: 100ms;
}
@utility delay-300 {
  animation-delay: 300ms;
}
@utility delay-500 {
  animation-delay: 500ms;
}
@utility delay-700 {
  animation-delay: 700ms;
}
